{% extends '_base.html.twig' %}

{# ------------------------------------------------- #}
{% block pageTitle %}List DVDs page{% endblock %}

{# ------------------------------------------------- #}
{% block listLinkStyle %}current_page{% endblock %}

{# ------------------------------------------------- #}
{% block main %}

<!-- start table for displaying DVD details -->
<h2>Lists of DVDs and their average votes</h2>

    {# -------- offer button to clear the search,. if a search term is present -------- #}
    <form
        action="?action=filterList"
        method="post">


        {% if searchText %}
            <a href="?action=list">(reset search)</a>
        {% endif %}
        <input type="text" name="searchText" value="{{ searchText }}">
        <input type="submit" value="search">
    </form>


    <table>
    <tr>
        <th> ID </th>
        <th> title </th>
        <th> category </th>
        <th> price </th>
        <th> vote average </th>
        <th> num votes </th>
        <th> stars </th>
    </tr>

    <!-- ********************* HTML for dvd items ****************** -->
<!--
    //   	0 - 15 - 40 - 55 - 70 - 85 - 100 %age
    // 	      .5   1    2    3    4    5     stars
-->

{% for dvd in dvds %}
    <tr>
        <td>{{ dvd.id }}</td>
        <td><a href="/?action=detail&id={{ dvd.id }}">{{ dvd.title }}</a></td>
        <td>{{ dvd.category }}</td>
        <td>&euro; {{ dvd.price }}</td>
        <td>{{ dvd.voteAverage }} %</td>
        <td>{{ dvd.numVotes }}</td>

        <td>
            {% include '_starImage.html.twig' with {'numVotes':dvd.numVotes, 'voteAverage':dvd.voteAverage} %}
        </td>

    </tr>
{% endfor %}

</table>

{% endblock %}
